  #result {
      display: none;
  }

  /* .warning {
    border: 5px solid #000000;
    border-radius: 5px;
    padding: 15px;
    position: absolute;
    background-color: #0fd6bc73;
    color: #4767e6;
  } */